body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  background: #0f0f0f;
  color: white;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  background: #111;
}

.logo {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 28px;
}

.logo span {
  color: red;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links li a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

/* VIEWS */
.view {
  display: none;
  padding: 20px;
}

.view.active {
  display: block;
}

/* GRIDS */
#movies-grid,
#tv-grid,
#favs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

/* CARDS */
.card {
  background: #222;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
}
