body{
  margin:0;
  font-family:"DM Sans", sans-serif;
  background:#0b0b12;
  color:white;
}

nav{
  display:flex;
  align-items:center;
  justify-content:flex-start;
  padding:15px 20px;
  background:#111;
  flex-wrap:wrap;
  gap:15px;
}

.logo{
  font-family:"Bebas Neue";
  font-size:56px;
  display:flex;
  align-items:center;
  gap:8px;
  letter-spacing:1px;
  cursor:pointer;
}

.holo{ color:orange; }
.flix{ color:purple; }

.controls{
  position:relative;
  display:flex;
  gap:6px;
  align-items:center;
}

input, select, button{
  padding:8px;
  border-radius:6px;
  border:none;
  background:#1f1f1f;
  color:white;
  outline:none;
}

button{ cursor:pointer; transition:0.2s; }
button:hover{ background:#333; }

#suggestions{
  position:absolute;
  top:42px;
  left:0;
  width:100%;
  background:#222;
  border-radius:6px;
  overflow:hidden;
  z-index:999;
  display:flex;
  flex-direction:column;
}

.suggestion-item{
  padding:10px;
  cursor:pointer;
  border-bottom:1px solid #333;
  text-align:left;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.suggestion-item:hover{ background:#333; }

.view{ display:none; padding:20px; }
.view.active{ display:block; }

#home-grid,
#movies-grid,
#fav-grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(160px,1fr));
  gap:15px;
}

.card{
  background:#1a1a1a;
  border-radius:10px;
  padding:10px;
  cursor:pointer;
  transition:0.2s;
}

.card:hover{ transform:scale(1.03); }

.card img{
  width:100%;
  border-radius:10px;
}

.detail-box{
}
